$primary-color: rgb(200, 200, 245);
$secondary-color: rgb(120, 186, 240);

/*
global components starts
*/
.-wrapper {
  display: flex;
}

.-content-wrapper {
  height: 100vh;
  width: 100vw;
    h1{
      margin: 20px;
    }

}

.simple-button {
  height: 2.75rem;
  width: 6rem;
  border-radius: 5px;
  border: none;
  
  &:hover {
    cursor: pointer;
  }

}

/*
global components ends
*/



/*Components Design starts*/
/*########################################################################*/

/*Inventory Card styling starts*/

.inventory-card {
  height: 10rem;
  width: 25rem;
}

/*Inventory Card styling starts*/

/*Product card component design starts*/
.card {
  background-color: #d1e7f1;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;

  .productName {
    color: #1f456e;
    margin-top: 0;
  }

  .details {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;

    p {
      margin: 0;
      flex-basis: 50%;
    }

    .quantity {
      color: #327da0;
    }

    .unitPrice {
      color: #327da0;
    }

    .totalPrice {
      color: #327da0;
      font-weight: bold;
    }
  }
}
/*Product Card component ends*/



/*Navbar component starts*/

.navbar {
  display: flex;
  background-color: #bbd1f7;
  height: 6rem;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  
  h1{
    margin-left: 2.5vw;
    font-weight: 100;

    span {
      color: rgb(236, 87, 28);
      font-weight: bold;
    }
  }

  .logout-button{
    margin-right: 2.5vw;
    background-color: orange;
    font-size: 17px;
    font-weight: bold;
  }
}

/*Navbar component ends*/

/*Sidebar component starts*/

.sidebar-container {
  display: flex;
}


.sidebar {
  background: black;
  color: white;
  height: 100vh;
  width: 320px;

  h1{
    font-size: 30px;
  }

  .bars {
    font-size: 30px;
    display: flex;
    margin-left: 90px;
    :hover {
      cursor: pointer;
    }
  }

  .link {
    display: flex;
    color: white;
    padding: 15px 15px;
    gap: 15px;
    transition: all 0.5s;
    text-decoration: none;
  }

  .link:hover {
    background: skyblue;
    color: black;
    transition: all 0.5s;
  }

}

.sidebar-top {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-top: 25px;
  padding-bottom: 55px;
}

.link-text {
  font-size: 25px;
  white-space: nowrap;
  overflow: hidden;
}

.icon {
  font-size: 30px;
}


/*Sidebar component ends*/
  
  /*Log in Component Styling starts*/
  
  .login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    
    h1 {
      text-align: center;
      font-size: 22px;
      padding-bottom: 20px;
    }
    
    h2 {
      text-align: center;
      color: #444;
      margin-bottom: 20px;
    }
    
    
  }
  
  .login-register-form {
    label {
      display: block;
      margin-bottom: 8px;
      color: #444;
    }
    
    input {
      width: 95%;
      padding: 10px;
      margin-bottom: 20px;
      border-radius: 5px;
      border: none;
      background-color: #F0F8FF;
      color: #444;
      font-size: 16px;
      font-family: Arial, sans-serif;
    }
    
    button[type="submit"] {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: none;
      background-color: #0F52BA;
      color: #fff;
      font-size: 16px;
      font-family: Arial, sans-serif;
      cursor: pointer;
      transition: background-color 0.3s ease;
      
      &:hover {
        background-color: #0052CC;
      }
      
      &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(15, 82, 186, 0.5);
      }
    }
  }
  
  /*Log in component ends*/

  /*
  ProductForm component Styling starts
  */
  .image-preview {
    img{
      height: 300px;
      width: 300px;
    }
  }

  .productForm {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  
    .formGroup {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
  
      label {
        font-weight: bold;
      }
  
      input {
        border: 1px solid gray;
        border-radius: 4px;
        padding: 0.5rem;
        font-size: 1rem;
      }
    }
  
    button[type='submit'] {
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border: none;
      border-radius: 4px;
      background-color: blue;
      color: white;
      cursor: pointer;
  
      &:hover {
        background-color: navy;
      }
    }
  }

   /*
  Product form Component Styling ends
  */


  /*
  ProductList styling
  */

  .flex-table-column{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
  }

  .icons {
    span{
      margin-left: 20px;
    }
  }

  .product-list {
    hr {
      border: none;
      border-top: 2px solid #eee;
    }
    .table {
      cursor: pointer;
      margin-top: 20px;
      table {
        width: 100%;
        border-collapse: collapse;
        th, td {
          border: 1px solid #ccc;
          padding: 10px;
          text-align: left;
          font-size: 14px;
        }
        th:nth-child(1){
          text-align: center;
        }
        th {
          background-color: #eee;
          font-weight: bold;
        }
        td {
          background-image: linear-gradient(to bottom right, #f5f5f5, #d3d3d3);
          font-weight: bold;
          &:nth-child(1) {
            width: 5%;
            text-align: center;
            font-weight: bold;
          }
          &:nth-child(2) {
            width: 25%;
          }
          &:nth-child(3) {
            width: 15%;
          }
          &:nth-child(4) {
            width: 15%;
          }
          &:nth-child(5) {
            width: 15%;
          }
          &:nth-child(6) {
            width: 15%;
          }
          &:nth-child(7) {
            width: 10%;
            
          }
        }
      }
      p {
        margin: 20px 0;
        font-size: 16px;
        color: #666;
      }
    }
  }

  /*ProductList styling ends*/


  /*Search Component styling starts*/

  .search{
    display: flex;
    justify-content: center;
    input {
      border: none;
      outline: none;
      font-size: 16px;
      width: 100%;
      color: #333;
      background-color: transparent;
    }
    input[type="text"]::placeholder {
      color: #aaa;
    }
    
    
  }

  /*Search Component styling ends*/



  /*
    Pagination component Starts
  */

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    list-style: none;
  
    & > * {
      margin: 0 0.5rem;
      padding: 0 0.5rem;
      border-radius: 50%;
      font-size: 1.2rem;
      color: #555;
    }

    
  
    & .activePage {
      background-color: #007bff;
      color: #fff;
      font-weight: bold;
      border: none;
      box-shadow: 0px 0px 10px 0px rgba(0, 123, 255, 0.5);
      transform: scale(1.1);
      transition: all 0.3s ease-in-out;
      border-radius: 50%; /* make the active page mark circular */
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.5rem;
      height: 2.5rem;
    }
  }
  
  .page-num {
    cursor: pointer;
  }
  
  .nextLinkClassName {
    margin-left: 1rem;
  }
  
  .previousLinkClassName {
    margin-right: 1rem;
  }

  /*
  pagination component ends
  */


  /*
  Summery cards Starts
  */
  .product-summery {
    text-align: center;
  }
  
  .inventory-stats {
    color: white;
    margin-top: 0;
  }
  
  .info-summery {
    display: flex;
    margin-top: 20px;
    gap: 6rem;
    padding: 20px;
  }

  /*
  Summery cards Ends
  */

  .card1 {
    background-color: #44aedf;
  }
  .card2 {
    background-color: #57c764;
  }
  .card3 {
    background-color: #e28da5;
  }
  

  /*
  Info box Starts
  */
  .icon-box{
    border-radius: 10px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    display: flex;
    width: 27rem;
    text-align: center;
    gap: 10px;
    h4{
      font-size: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      .title{
        font-weight: 100;
      }
    }
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      cursor: pointer;
      // border: 3px solid #fff;
      transform: translateY(-7px);
    }
  }
  /*
  Info box Ends
  */

  /*########################################################################*/
  /*Components Design ends*/















/*pages Design*/
/*########################################################################*/

/*Inventory page starts*/

.summery-holder{
  text-align: center;
}

/*Inventory page ends*/


/*Product Details page Starts*/

.product-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border: 1px solid #ccc;

  & img {
    width: 120px;
    height: auto;
    margin-right: 16px;
  }

  & .product-info {
    flex: 1;

    & .product-name {
      font-size: 24px;
      margin: 0;
    }

    & .product-price,
    & .product-quantity,
    & .product-arrival {
      margin: 8px 0;
      font-size: 16px;
    }
  }
}

/*Product Details page Ends*/